*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

nav {
    background-color: #fff;
    padding: 0.5rem;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav u {
    list-style: none;
    /* padding: 0; */
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
}

h1 {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="text"],
input[type="number"],
select {
    width: 200px;
    padding: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Basic CSsS for the results section */
h2 {
    margin-top: 30px;
}

#report,#reult {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
}
#result {
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#result img {
    width: 200px;
    height: 100px;
}